body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
}

#mainBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(48, 49, 49);
    color: white;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px -2px rgb(26, 25, 25), 0px 10px rgb(26, 25, 25);
}
#screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 340px;
    height: 100px;
    margin: 30px;
    background-color: rgb(197, 188, 188);
    color: black;
    border-radius: 25px;
    box-shadow: 0px -2px rgb(90, 86, 86), 0px 2px rgb(90, 86, 86);
    flex: 1;
}
#screenText{
    flex: 1;
    margin-right: 20px;
    font-size: 36px;
    font-weight: bold;
}
#currentText{
    flex:2;
    margin-right: 20px;
    font-size: 64px;
    font-weight: bold;
}
#buttons{
    flex: 4;
    display: flex;
    justify-content: space-around;
}
.col{
    display: flex;
    flex-direction: column;
    width: 80px;
    height:400px;
}
.buttonCalc{
    flex: 1 1 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 5px;
    font-size: 32px;
    box-shadow:0px 5px rgb(87, 86, 86);
}
.buttonCalc:hover{
    opacity: 0.8;
}
.buttonCalc:active{
    opacity: 0.3;
    box-shadow:0px -2px rgb(87, 86, 86);
}
#sum{
    flex:1 1 1;
    height: 163px;
    background-color: rgb(201, 173, 50);
    box-shadow:0px 5px rgb(116, 95, 2);
}
#sum:active{
    opacity: 0.3;
    box-shadow:0px -2px rgb(116, 95, 2);
}
.githubLogo{
    width: 20px;
    height: 20px;
}

.mainButtons{
    background-color: red;
    box-shadow:0px 5px rgb(71, 2, 2);
}
.mainButtons:active{
    opacity: 0.3;
    box-shadow:0px -2px rgb(71, 2, 2);
}
#equal{
    background-color: blue;
    box-shadow:0px 5px rgb(17, 0, 90);
}
#equal:active{
    opacity: 0.3;
    box-shadow:0px -2px rgb(17, 0, 90);
}
#multiply{
    background-color: green;
    box-shadow:0px 5px rgb(0, 63, 0);
}
#multiply:active{
    opacity: 0.3;
    box-shadow:0px -2px rgb(0, 63, 0);
}
#divide{
    background-color: rgb(128, 0, 117);
    box-shadow:0px 5px rgb(71, 0, 65);
}
#divide:active{
    opacity: 0.3;
    box-shadow:0px -2px rgb(71, 0, 65);
}
#subtract{
    background-color: rgb(0, 119, 128);
    box-shadow:0px 5px rgb(0, 60, 65);
}
#subtract:active{
    opacity: 0.3;
    box-shadow:0px -2px rgb(0, 60, 65);
}
#comma{
    background-color: rgb(0, 128, 79);
    box-shadow:0px 5px rgb(0, 70, 43);
}
#comma:active{
    opacity: 0.3;
    box-shadow:0px -2px rgb(0, 70, 43);
}
#percentage{
    background-color: rgb(128, 0, 64);
    box-shadow:0px 5px rgb(66, 0, 33);
}
#percentage:active{
    opacity: 0.3;
    box-shadow:0px -2px rgb(66, 0, 33);
}


@keyframes rotate {
    from {
        transform : scale(1);
    }
    30% {
        transform : scale(3);
    }
    70% {
        transform: rotate(180deg);
    }
    to {
        transform : scale(1);
    }
}
.broken{
    animation: rotate 1s infinite;
}
